doctype html
html(lang="en")
  head
    meta(charset="utf-8")

    title= title
    meta(name="description" content=description)
    script
        include redirect.template
    link(rel="stylesheet" href=csspath)

    //- progressive web app shizzle
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-title" content="Waka")
    meta(name="apple-mobile-web-app-status-bar-style" content="default")
    link(rel="apple-touch-icon" href="/branding/favicon-180.png")
    link(rel="apple-touch-icon" sizes="96x96" href="/branding/favicon-96.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/branding/favicon-120.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/branding/favicon-152.png")
    link(rel="apple-touch-icon" sizes="160x160" href="/branding/favicon-160.png")
    link(rel="apple-touch-icon" sizes="167x167" href="/branding/favicon-167.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/branding/favicon-180.png")
    link(rel="apple-touch-icon" sizes="192x192" href="/branding/favicon-192.png")
    meta(name="format-detection" content="telephone=no")
    meta(name="theme-color" content="#273D52")
    link(rel="manifest" href="/manifest.json")

    //- facebook tags
    meta(property="og:url" content=canonical)
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:image" content=splash)

    //- twitter tags
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@dymajoltd")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:image" content="https://getwaka.com/branding/app.png")

    //- favicons
    link(rel="shortcut icon" href="/branding/favicon.ico")
    link(rel="icon" sizes="16x16 32x32 64x64" href="/branding/favicon.ico")
    link(rel="icon" type="image/png" sizes="64x64" href="/branding/favicon-64.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/branding/favicon-32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/branding/favicon-16.png")

    //- google translate fixes
    meta(name="google" content="notranslate")

  body
    div(id="app")
      block root
        div(class="root-container")
          header(class="material-header branding-header")
            span(class="header-left")
              img(src="/icons/station.svg" alt="Waka Icon")
            div(class="header-expand")
              h1(class="full-height")
                strong Waka
          div(class="root-card")
            div(class="root-card-padding-button")
            div(class="root-card-bar")
                a(href="/s")
                  img(src="/icons/station.svg" alt="Stations Icon")
                  span Stations
                a(href="/l")
                  img(src="/icons/lines.svg" alt="Lines Icon")
                  span Lines
            div(class="root-card-content")
              div(class="onboard")
                ul
                  li(class=" ss text-only")
                    div(class="text-wrapper")
                      h1(class="name") Kia Ora! Welcome to Waka.
                      div(class="description") Waka is your realtime guide to Buses, Trains, and Ferries.
                  li(class="lines-btn ss")
                    div(class="icon")
                      img(src="/icons/lines.svg" alt="Lines Icon")
                    div(class="text-wrapper")
                      a(href="/l")
                        h3(class="name") Lines
                      div(class="description") View all Bus, Train, and Ferry services.
                  noscript
                    li(class="lines-btn ss")
                      div(class="icon")
                        img(src="/icons/station.svg" alt="Stations Icon")
                      div(class="text-wrapper")
                        a(href="/s")
                          h3(class="name") Stations
                        div(class="description") View all transit stations.
                  li(class="ss")
                    div(class="icon")
                      img(src="/icons/patron.svg" alt="Sponsor Icon")
                    div(class="text-wrapper")
                      a(href="/sponsor")
                        h3(class="name") Become a Sponsor
                      div(class="description") Contribute to help support development!

              noscript
                p DYMAJO Waka is realtime, interactive, and faster with JavaScript enabled.

      div(class="content")
        block content

    script(src=vendorpath)
    script(src=apppath)
    script
        include ga.template
    script(async src="https://www.google-analytics.com/analytics.js")
    script(async src=analyticspath)